* {
  margin: 0 auto;
}

body,
head {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 250, 245);
}

nav {
  background-color: rgb(2, 2, 49);
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 38px;
  height: 38px;
  object-fit: contain;
  object-position: center;
}
nav a {
  text-align: center;
  align-items: center;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: antiquewhite;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 3px;
}

#front_welcome {
  display: flex;
  width: 100%;
  height: 300px;
  background: linear-gradient(60deg, rgba(255, 250, 245, 0.75), rgba(255, 250, 245, 0.75)), url(../assets/pattern.png);
  background-repeat: repeat-x;
}
#front_welcome h1 {
  position: absolute;
  font-size: 2.75vw;
  top: 12%;
  left: 18%;
  width: 22%;
  max-width: 380px;
  min-width: 120px;
  letter-spacing: 1px;
}
#front_welcome div {
  height: 196px;
  width: 40%;
  display: flex;
  align-items: center;
  position: absolute;
  top: 10%;
  right: 18%;
}
#front_welcome div img {
  object-fit: cover;
  object-position: center;
  height: 180px;
  width: 180px;
}

#front_hero {
  display: flex;
  width: 100%;
  height: 420px;
  background: linear-gradient(60deg, rgba(8, 6, 31, 0.6), rgb(255, 250, 250)), url(../assets/doc1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#front_contact {
  display: flex;
  width: 100%;
  height: 180px;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 233, 213);
}
#front_contact i {
  font-size: 4vw;
  border-style: solid;
  border-width: 6px;
  border-top: 10px;
  border-right: 10px;
  border-color: black;
  border-radius: 100%;
}

#products_header {
  width: 100%;
  height: 80px;
  display: flex;
  padding-top: 80px;
  padding-bottom: 40px;
  justify-content: center;
  align-content: center;
}
#products_header h1 {
  text-align: center;
  font-size: 3vw;
  letter-spacing: 3px;
}

#product_interact {
  width: 100%;
  height: 1060px;
}
#product_interact #products_list {
  width: 14%;
  height: 745px;
  background-color: rgb(195, 212, 221);
  position: absolute;
  left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
#product_interact #products_area {
  width: 72%;
  height: 880px;
  position: absolute;
  right: 2%;
  display: flex;
  justify-content: center;
  align-content: center;
}
#product_interact #products_area #products_promote {
  width: 100%;
  height: 180px;
  display: flex;
  position: absolute;
  background: linear-gradient(180deg, rgba(8, 6, 31, 0.6), rgb(255, 250, 250)), url(../assets/drug_store_aisle.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#product_interact #products_area #products_promote h2 {
  font-size: 38px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  width: 420px;
  text-align: left;
  margin-left: 5%;
  margin-top: 11%;
  letter-spacing: 5px;
}
#product_interact #products_area #products_grid {
  width: 80%;
  height: 700px;
  display: grid;
  grid: auto auto auto/auto auto auto;
  row-gap: 35px;
  padding-top: 240px;
  align-items: center;
}
#product_interact #products_area #products_grid div {
  width: 180px;
  height: 180px;
  border-radius: 20px;
}
#product_interact #products_area #products_grid div img {
  width: 180px;
  height: 180px;
  border-radius: 20px;
  object-fit: cover;
  object-position: center;
}

#services_hero {
  display: flex;
  width: 100%;
  height: 420px;
  background: linear-gradient(180deg, rgba(8, 6, 31, 0.6), rgb(255, 250, 250)), url(../assets/doc2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#services_hero h1 {
  position: absolute;
  font-size: 3.25vw;
  top: 18%;
  left: 30%;
  width: 50%;
  letter-spacing: 1px;
}

#services_options {
  width: 100%;
  height: 1060px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#services_options div {
  width: 600px;
  height: 2px;
  background-color: black;
}
#services_options p {
  margin-right: 10%;
  margin-top: -240px;
  width: 35%;
  height: 240px;
  font-size: 1.25vw;
  line-height: 30px;
}
#services_options img {
  margin-left: 15%;
  width: 280px;
  height: 240px;
  border-radius: 45px;
}

#services_compare {
  width: 100%;
  height: 480px;
}
#services_compare h1 {
  text-align: center;
  align-items: center;
  padding-bottom: 60px;
}
#services_compare #services_grid {
  width: 60%;
  display: grid;
  grid: auto auto/auto auto auto;
  row-gap: 35px;
  align-items: center;
}
#services_compare #services_grid div {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  background-color: white;
}
#services_compare #services_grid div img {
  width: 120px;
  height: 120px;
  object-fit: contain;
  object-position: center;
  border-radius: 100%;
}

#contact_header {
  width: 100%;
  height: 80px;
  display: flex;
  padding-top: 80px;
  padding-bottom: 40px;
  justify-content: center;
  align-content: center;
}
#contact_header h1 {
  text-align: center;
  font-size: 3vw;
  letter-spacing: 3px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#contact_options {
  width: 100%;
  height: 960px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#contact_options p {
  margin-left: 18%;
  margin-top: -365px;
  width: 35%;
  height: 240px;
  font-size: 1.25vw;
  line-height: 30px;
}
#contact_options i {
  margin-left: 10%;
  margin-top: -60px;
  width: 320px;
  height: 100px;
  font-size: 100px;
  background-color: rgb(197, 205, 211);
}
#contact_options div {
  position: absolute;
  right: 10%;
  top: 38%;
}
#contact_options div textarea {
  width: 528px;
  max-width: 528px;
  min-width: 528px;
  height: 190px;
  min-height: 190px;
  max-height: 430px;
  background-color: rgba(0, 0, 0, 0.01);
  border-style: solid;
  border-color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25vw;
  font-weight: bold;
  padding-left: 15px;
  border-radius: 10px;
}

footer {
  height: 60px;
  width: 100%;
  background-color: rgb(2, 2, 49);
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: antiquewhite;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 3px;
}

/*# sourceMappingURL=styles.css.map */
